In [2]:
import pandas as pd

## Подсчет числа уникальных элементов в группах

In [3]:
data = pd.read_csv( 'teams_stats.csv' )
data.head()

,Unnamed: 0,Year,Player,Pos,Age,Tm,G,GS,MP,PER,...,FT%,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS
0,0,1950.0,Curly Armstrong,G-F,31.0,FTW,63.0,NaN,NaN,NaN,...,0.705,NaN,NaN,NaN,176.0,NaN,NaN,NaN,217.0,458.0
1,1,1950.0,Cliff Barker,SG,29.0,INO,49.0,NaN,NaN,NaN,...,0.708,NaN,NaN,NaN,109.0,NaN,NaN,NaN,99.0,279.0
2,2,1950.0,Leo Barnhorst,SF,25.0,CHS,67.0,NaN,NaN,NaN,...,0.698,NaN,NaN,NaN,140.0,NaN,NaN,NaN,192.0,438.0
3,3,1950.0,Ed Bartels,F,24.0,TOT,15.0,NaN,NaN,NaN,...,0.559,NaN,NaN,NaN,20.0,NaN,NaN,NaN,29.0,63.0
4,4,1950.0,Ed Bartels,F,24.0,DNN,13.0,NaN,NaN,NaN,...,0.548,NaN,NaN,NaN,20.0,NaN,NaN,NaN,27.0,59.0

In [4]:
# проверим, что подсчет количества строк корректен

data.groupby( 'Year' ).count()['Tm'].head()

Year
1950.0    312
1951.0    174
1952.0    130
1953.0    160
1954.0    131
Name: Tm, dtype: int64

In [5]:
# считаем количество уникальных элементов по годам

data.groupby( 'Year' ).nunique()['Tm'].head()

C:\Users\Konstantin.Bashevoy\AppData\Local\Continuum\Anaconda2\lib\site-packages\pandas\core\groupby.py:3154: FutureWarning: numpy not_equal will not check object identity in the future. The comparison did not return the same result as suggested by the identity (`is`)) and will change.
  inc = np.r_[1, val[1:] != val[:-1]]

Year
1950.0    18
1951.0    12
1952.0    11
1953.0    11
1954.0    10
Name: Tm, dtype: int64

In [6]:
# допольнительная разбивка по игрокам

data.groupby( ['Year', 'Player'] ).nunique()['Tm'].head()

Year    Player
1950.0  Al Cervi*       1
        Al Guokas       3
        Al Miksis       1
        Alex Groza      1
        Alex Hannum*    1
Name: Tm, dtype: int64

## Аналогичный пример на простых DataFrame

In [9]:
df = pd.DataFrame({
    'key': [ 'key1', 'key1', 'key2', 'key3', 'key3', 'key3' ],
    'value': [ 1, 1, 2, 3, 4, 5 ]
})
df

    key  value
0  key1      1
1  key1      1
2  key2      2
3  key3      3
4  key3      4
5  key3      5

In [10]:
df.groupby( 'key' ).nunique()

      key  value
key
key1    1      1
key2    1      1
key3    1      3

## Фильтр, учитывающий для признака определенное число строк

In [11]:
# данные отсюда https://www.kaggle.com/abcsds/highest-mountains

In [10]:
# лимит количества строк, ниже которого не учитываем строки
LOWER_LIMIT = 3

In [7]:
data = pd.read_csv( 'Mountains.csv' )
data.head()

,Rank,Mountain,Height (m),Height (ft),Prominence (m),Range,Coordinates,Parent mountain,First ascent,Ascents bef. 2004,Failed attempts bef. 2004
0,1,Mount Everest / Sagarmatha / Chomolungma,8848,29029,8848,Mahalangur Himalaya,27°59′17″N 86°55′31″E﻿,NaN,1953,>>145,121.0
1,2,K2 / Qogir / Godwin Austen,8611,28251,4017,Baltoro Karakoram,35°52′53″N 76°30′48″E﻿,Mount Everest,1954,45,44.0
2,3,Kangchenjunga,8586,28169,3922,Kangchenjunga Himalaya,27°42′12″N 88°08′51″E﻿,Mount Everest,1955,38,24.0
3,4,Lhotse,8516,27940,610,Mahalangur Himalaya,27°57′42″N 86°55′59″E﻿,Mount Everest,1956,26,26.0
4,5,Makalu,8485,27838,2386,Mahalangur Himalaya,27°53′23″N 87°05′20″E﻿,Mount Everest,1955,45,52.0

In [9]:
# считаем количество строк для каждой Parent mountain

parentMountainCount = data['Parent mountain'].value_counts()
parentMountainCount

Mount Everest         9
Gasherbrum I          8
Cho Oyu               7
Kangchenjunga         7
Distaghil Sar         5
K2                    5
Shisha Pangma         4
Dhaulagiri            4
Teram Kangri I        3
Kamet                 3
Dhaulagiri IV         3
Khunyang Chhish       3
Batura Sar            3
Manaslu               3
Annapurna I           2
Noshaq                2
Malubiting            2
Gangkar Puensum       2
Saltoro Kangri        2
Skil Brum             2
Chogolisa             2
Kongur Tagh           2
Nanda Devi            2
Gangkhar Puensum      2
Saser Kangri I        2
Lhotse                2
Trivor                1
Gasherbrum III        1
Kula Kangri           1
Ismail Samani Peak    1
Makalu                1
Pumari Chhish         1
Skil Brum (K2)        1
Momhil Sar            1
Rimo I                1
Annapurna             1
Teram Kangri III      1
Annapurna III         1
Shispare              1
Muztagh Ata           1
Ghent Kangri          1
Churen Himal          1
Kanjut Sar            1
Yukshin Gardan Sar    1
Gasherbrum II         1
Shishapangma          1
Tongshanjiabu         1
Dhaulagiri II         1
Rakaposhi             1
Tirich Mir            1
Masherbrum            1
Labuche Kang          1
Name: Parent mountain, dtype: int64

In [11]:
# фильтруем этот результат по нижней границе LOWER_LIMIT

filteredCount = parentMountainCount[ data['Parent mountain'].value_counts() > LOWER_LIMIT ]
filteredCount

Mount Everest    9
Gasherbrum I     8
Cho Oyu          7
Kangchenjunga    7
Distaghil Sar    5
K2               5
Shisha Pangma    4
Dhaulagiri       4
Name: Parent mountain, dtype: int64

In [12]:
# переводим отфильтрованный список в лист

filteredList = filteredCount.index.tolist()
filteredList

['Mount Everest',
 'Gasherbrum I',
 'Cho Oyu',
 'Kangchenjunga',
 'Distaghil Sar',
 'K2',
 'Shisha Pangma',
 'Dhaulagiri']

In [ ]:
if value in list:

In [13]:
# ставим условие исходному DataFrame: значение столбца 'Parent mountain' должно входить в лист filteredCount
data = data[ data['Parent mountain'].isin( filteredList ) ]

,Rank,Mountain,Height (m),Height (ft),Prominence (m),Range,Coordinates,Parent mountain,First ascent,Ascents bef. 2004,Failed attempts bef. 2004
1,2,K2 / Qogir / Godwin Austen,8611,28251,4017,Baltoro Karakoram,35°52′53″N 76°30′48″E﻿,Mount Everest,1954,45,44.0
2,3,Kangchenjunga,8586,28169,3922,Kangchenjunga Himalaya,27°42′12″N 88°08′51″E﻿,Mount Everest,1955,38,24.0
3,4,Lhotse,8516,27940,610,Mahalangur Himalaya,27°57′42″N 86°55′59″E﻿,Mount Everest,1956,26,26.0
4,5,Makalu,8485,27838,2386,Mahalangur Himalaya,27°53′23″N 87°05′20″E﻿,Mount Everest,1955,45,52.0
5,6,Cho Oyu,8188,26864,2340,Mahalangur Himalaya,28°05′39″N 86°39′39″E﻿,Mount Everest,1954,79,28.0
6,7,Dhaulagiri I,8167,26795,3357,Dhaulagiri Himalaya,28°41′48″N 83°29′35″E﻿,K2,1960,51,39.0
7,8,Manaslu,8163,26781,3092,Manaslu Himalaya,28°33′00″N 84°33′35″E﻿,Cho Oyu,1956,49,45.0
8,9,Nanga Parbat,8126,26660,4608,Nanga Parbat Himalaya,35°14′14″N 74°35′21″E﻿,Dhaulagiri,1953,52,67.0
9,10,Annapurna I,8091,26545,2984,Annapurna Himalaya,28°35′44″N 83°49′13″E﻿,Cho Oyu,1950,36,47.0
10,11,Gasherbrum I / Hidden Peak / K5,8080,26509,2155,Baltoro Karakoram,35°43′28″N 76°41′47″E﻿,K2,1958,31,16.0
11,12,Broad Peak / K3,8051,26414,1701,Baltoro Karakoram,35°48′38″N 76°34′06″E﻿,Gasherbrum I,1957,39,19.0
12,13,Gasherbrum II / K4,8035,26362,1524,Baltoro Karakoram,35°45′28″N 76°39′12″E﻿,Gasherbrum I,1956,54,12.0
13,14,Shishapangma,8027,26335,2897,Jugal Himalaya,28°21′12″N 85°46′43″E﻿,Cho Oyu,1964,43,19.0
14,15,Gyachung Kang,7952,26089,700,Mahalangur Himalaya,28°05′53″N 86°44′42″E﻿,Cho Oyu,1964,5,3.0
19,19,Distaghil Sar,7884,25866,2525,Hispar Karakoram,36°19′33″N 75°11′16″E﻿,K2,1960,3,5.0
22,21,Khunyang Chhish,7823,25666,1765,Hispar Karakoram,36°12′19″N 75°12′28″E﻿,Distaghil Sar,1971,2,6.0
23,22,Masherbrum / K1,7821,25659,2457,Masherbrum Karakoram,35°38′28″N 76°18′21″E﻿,Gasherbrum I,1960,4,9.0
24,23,Nanda Devi,7816,25643,3139,Garhwal Himalaya,30°22′33″N 79°58′15″E﻿,Dhaulagiri,1936,14,12.0
26,25,Batura Sar,7795,25574,3118,Batura Karakoram,36°30′37″N 74°31′21″E﻿,Distaghil Sar,1976,4,6.0
29,28,Namcha Barwa,7782,25531,4106,Assam Himalaya,29°37′52″N 95°03′19″E﻿,Kangchenjunga,1992,1,2.0
31,30,Dhaulagiri II,7751,25430,2396,Dhaulagiri Himalaya,28°45′46″N 83°23′18″E﻿,Dhaulagiri,1971,4,11.0
32,31,Saltoro Kangri / K10,7742,25400,2160,Saltoro Karakoram,35°23′57″N 76°50′53″E﻿,Gasherbrum I,1962,2,1.0
33,32,Jannu,7711,25299,1036,Kangchenjunga Himalaya,27°40′56″N 88°02′40″E﻿,Kangchenjunga,1962,17,12.0
36,34,Gurla Mandhata,7694,25243,2788,Nalakankar Himalaya,30°26′19″N 81°17′48″E﻿,Dhaulagiri,1985,6,4.0
37,35,Saser Kangri I / K22,7672,25171,2304,Saser Karakoram,34°52′00″N 77°45′09″E﻿,Gasherbrum I,1973,6,4.0
40,37,Kongur Tagh,7649,25095,3585,Kongur Shan (Eastern Pamirs),38°35′36″N 75°18′48″E﻿,Distaghil Sar,1981,2,4.0
43,39,Trivor,7577,24859,980,Hispar Karakoram,36°17′15″N 75°05′06″E﻿,Distaghil Sar,1960,2,5.0
44,40,Gangkhar Puensum,7570,24836,2995,Kula Kangri Himalaya,28°02′50″N 90°27′19″E﻿,Kangchenjunga,unclimbed,0,3.0
45,41,Gongga Shan / Minya Konka,7556,24790,3642,Daxue Shan (Hengduan Shan),29°35′43″N 101°52′47″E﻿,Mount Everest,1932,6,7.0
48,44,Skyang Kangri,7545,24754,1085,Baltoro Karakoram,35°55′35″N 76°34′03″E﻿,K2,1976,1,2.0
49,45,Changtse,7543,24747,520,Mahalangur Himalaya,28°01′29″N 86°54′51″E﻿,Mount Everest,1982,9,9.0
52,48,Mamostong Kangri,7516,24659,1803,Rimo Karakoram,35°08′31″N 77°34′39″E﻿,Gasherbrum I,1984,5,0.0
60,56,Teram Kangri I,7462,24482,1702,Siachen Karakoram,35°34′48″N 77°04′42″E﻿,Gasherbrum I,1975,2,0.0
61,57,Jongsong Peak,7462,24482,1298,Kangchenjunga Himalaya,27°52′54″N 88°08′09″E﻿,Kangchenjunga,1930,2,3.0
68,63,Sia Kangri,7422,24350,640,Siachen Karakoram,35°39′48″N 76°45′42″E﻿,Gasherbrum I,1934,6,0.0
70,65,Kabru N,7412,24318,780,Kangchenjunga Himalaya,27°38′02″N 88°07′00″E﻿,Kangchenjunga,1994,1,2.0
71,66,Skil Brum,7410,24311,1152,Baltoro Karakoram,35°51′03″N 76°25′43″E﻿,K2,1957,2,1.0
80,75,Labuche Kang,7367,24170,1957,Labuche Himalaya,28°18′15″N 86°21′03″E﻿,Cho Oyu,1987,1,0.0
81,76,Kirat Chuli,7362,24153,1168,Kangchenjunga Himalaya,27°47′16″N 88°11′43″E﻿,Kangchenjunga,1939,1,6.0
83,77,Nangpai Gosum,7350,24114,500,Mahalangur Himalaya,28°04′24″N 86°36′51″E﻿,Cho Oyu,1996,3,1.0
84,117,Gimmigela / The Twins,7350,24114,432,Kangchenjunga Himalaya,27°44′27″N 88°09′31″E﻿,Kangchenjunga,1994,3,1.0
90,83,Siguang Ri,7309,23980,650,Mahalangur Himalaya,28°08′50″N 86°41′06″E﻿,Cho Oyu,1989,2,1.0
92,85,Gyala Peri,7294,23930,2942,Assam Himalaya,29°48′52″N 94°58′07″E﻿,Mount Everest,1986,1,0.0
93,86,Porong Ri,7292,23924,520,Langtang Himalaya,28°23′22″N 85°43′12″E﻿,Shisha Pangma,1982,5,0.0
97,90,Kangpenqing / Gang Benchhen,7281,23888,1340,Baiku Himalaya,28°33′03″N 85°32′44″E﻿,Shisha Pangma,1982,1,1.0
107,99,Langtang Lirung,7227,23711,1525,Langtang Himalaya,28°15′22″N 85°31′01″E﻿,Shisha Pangma,1978,14,13.0
110,102,Khartaphu,7213,23665,712,Mahalangur Himalaya,28°03′49″N 86°58′39″E﻿,Mount Everest,1935,1,0.0
112,104,Malangutti Sar,7207,23645,515,Hispar Karakoram,36°21′47″N 75°08′57″E﻿,Distaghil Sar,1985,1,0.0
114,106,Langtang Ri,7205,23638,650,Langtang Himalaya,28°22′53″N 85°41′01″E﻿,Shisha Pangma,1981,4,0.0